<template>
    <div class="bleed-panel" :class="{uploading:state == 'uploading'}">
        <div class="bleed-header border-bottom">
            <v-toolbar color="white" flat>
                <v-btn @click="close()" icon>
                    <v-icon>close</v-icon>
                </v-btn>
                <!-- <v-toolbar-side-icon></v-toolbar-side-icon> -->
                <v-toolbar-title>
                    Create Event
                </v-toolbar-title>
                <!-- <v-spacer></v-spacer>
                <v-btn @click="save" color="success">
                    Save
                    <v-icon>arrow_right</v-icon>
                </v-btn> -->
            </v-toolbar>
        </div>
        <div class="bleed-panel-body">
            <v-flex>
                <wrapper>
                    <constrain sm>
                        <h1>New Event</h1>
                        <form @submit.prevent="save">
                            <v-text-field ref="title" v-model="title" :error-messages="errors" label="Event Title" required @blur="$v.title.$touch()"></v-text-field>
                            <!-- <v-text-field v-model="firstLine" label="Subtitle" placeholder="Eg. 'Featuring Album Launch and United'"></v-text-field> -->
                            <!--  <v-layout row wrap>
                                <v-flex xs12 sm6 md4>
                                    <v-menu ref="menu" v-model="showTime" :close-on-content-click="false" :nudge-right="40" :return-value.sync="showTime" lazy transition="scale-transition" offset-y full-width max-width="290px" min-width="290px">
                                        <template v-slot:activator="{ on }">
                                            <v-text-field v-model="startTime" label="Start Time" readonly v-on="on"></v-text-field>
                                        </template>
                                        <v-time-picker v-if="showTime" @focus="showTime = true" v-model="startTime" full-width @click:minute="$refs.menu.save(startTime)"></v-time-picker>
                                    </v-menu>
                                </v-flex>
                                <v-flex xs12 sm6 md4>
                                    <v-menu v-model="showDate" :close-on-content-click="false" :nudge-right="40" lazy transition="scale-transition" offset-y full-width min-width="290px">
                                        <template v-slot:activator="{ on }">
                                            <v-text-field v-model="readableStartDate" label="Start Date" readonly v-on="on"></v-text-field>
                                        </template>
                                        <v-date-picker v-model="startDate" @input="showDate = false"></v-date-picker>
                                    </v-menu>
                                </v-flex>
                            </v-layout> -->
                            <v-datetime-picker format="h:mma - dddd D MMMM YYYY" timePickerFormat="ampm" label="Start Date" v-model="startDate">
                            </v-datetime-picker>
                            <v-flex xs12 sm6 d-flex>
                                <v-select v-model="definition" :items="eventTypes" label="Event Type"></v-select>
                            </v-flex>
                            <!-- :persistent-hint="true" hint="Type to search for realms" -->
                            <v-input class="realms-input"  label="Realms">
                                <treeselect v-model="realms" :flat="true" :defaultExpandLevel="Infinity" :multiple="true" :options="realmOptions"></treeselect>
                            </v-input>
                            <!-- <div class="v-input">
                                <label>Realms</label>
                            </div> -->
                            <!-- <pre>{{$v}}</pre> -->
                            <v-layout row wrap>
                                <v-flex xs12 sm6 md4>
                                    <v-btn block :disabled="$v.$invalid" large color="primary" type="submit">Continue</v-btn>
                                </v-flex>
                            </v-layout>
                        </form>
                    </constrain>
                </wrapper>
            </v-flex>
        </div>
    </div>
</template>
<script>
import Treeselect from '@riophae/vue-treeselect'
import axios from 'axios';
// import the styles
import '@riophae/vue-treeselect/dist/vue-treeselect.css'
import { Layout } from 'fluro-vue'
import { mapGetters } from 'vuex'

import { validationMixin } from 'vuelidate';
import { required, maxLength, email } from 'vuelidate/lib/validators';



export default {
    components: {
        Treeselect,
    },
    mixins: [validationMixin, Layout],
    validations: {
        title: { required },
        startDate: { required },
        // startTime: { required },
    },

    data() {
        return {
            state: 'ready',
            title: '',
            startDate: new Date(),
            definition:'event',
            // showDate: false,
            // showTime: false,
            realms: [],
        }
    },
    mounted() {

        //If they haven't typed an email in
        if (!this.title || !this.title.length) {
            this.$refs.title.focus()
        }
    },
    computed: {
        ...mapGetters([
            'definitions',
        ]),
        errors() {

        },
        readableStartDate() {

            var date = this.startDate || new Date();
            return this.$fluro.date.formatDate(date, 'dddd D MMM YYYY');
        },
        eventTypes() {

            var types =  _.chain(this.definitions)
            .filter({parentType:'event'})
            .map(function(definition) {
                return {
                    text:definition.title,
                    value:definition.definitionName,
                }
            })
            .value();

            types.unshift({
                text:'General Event',
                value:'event',
            })

            return types;
        }
    },
    methods: {
        close() {
            // if (window.history.length) {
                // this.$router.go(-1)
            // } else {
                this.$router.push({name:'upload'});
            // }
        },
        save() {

            var self = this;
            var definedType = self.definition || 'event';


            var body = {
                title:self.title,
                startDate:self.startDate,
                realms:self.realms,
            }


            return self.$fluro.api.post(`/content/${definedType}`, body)
                .then(function(res) {

                    var event = res.data;

                    self.$router.replace({
                        name:'upload.event',
                        params:{id:event._id},
                    })

                    var message = `'${event.title}' created successfully`;
                    self.$toasted.show(message, {
                    type: 'success',
                })
                    // console.log('RESPONSE', res);
                    // file.state = 'complete';
                    // file.result = res.data;

                    // self.uploadNext();
                    // self.$forceUpdate();


                })
                .catch(function(err) {
                    console.log('Error', err);

                    var message = this.$fluro.utils.errorMessage(err);

                    self.$toasted.show(message, {
                    type: 'error',
                })


                    // file.state = 'error';
                    // self.uploadNext();
                    // self.$forceUpdate();
                });


            console.log('Save new event!', this.data);
        },
    },
    asyncComputed: {
        realmOptions: {
            default: [],
            get() {

                var self = this;
                var eventID = this.$route.params.id;

                return new Promise(function(resolve, reject) {

                    self.$fluro.access.retrieveSelectableRealms('create', 'photo', 'image').then(function(res) {


                        function mapChild(realm) {

                            realm.id = realm._id;
                            realm.label = realm.title;
                            realm.open = true;

                            if (realm.children && realm.children.length) {
                                _.each(realm.children, function(child) {
                                    mapChild(child);
                                })
                            } else {
                                delete realm.children;
                            }
                        }



                        var mapped = _.chain(res)
                            .reduce(function(set, realm) {

                                mapChild(realm);

                                var disc = realm._discriminator || realm._discriminatorType || realm.definition || 'realm';

                                if (!set[disc]) {
                                    set[disc] = {
                                        label: disc,
                                        id: disc,
                                        children: [],
                                        isDisabled: true,
                                    };
                                }

                                set[disc].children.push(realm);

                                return set;
                            }, {})
                            .values()
                            .value();

                        if (mapped.length == 1) {
                            mapped = mapped[0].children;
                        }


                        resolve(mapped);
                    });


                    // var options = [{
                    //         id: 'a',
                    //         label: 'a',
                    //         children: [{
                    //             id: 'aa',
                    //             label: 'aa',
                    //         }, {
                    //             id: 'ab',
                    //             label: 'ab',
                    //         }],
                    //     }, {
                    //         id: 'b',
                    //         label: 'b',
                    //     }, {
                    //         id: 'c',
                    //         label: 'c',
                    //     }]

                    // resolve(options)


                });
            }
        },
    }
}
</script>
<style lang="scss">
.bleed-panel {

    .bleed-panel-body {
        flex:1;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }

    .realms-input .v-input__slot {
        display: block;
    }
}
</style>